/* General Override */
* {
    font-family: "Segoe UI";
}

/* Types */

body {
    margin: 0;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 8px;
    margin-bottom: 16px;

    font-family: "Segoe UI Semibold";
    font-size: 16pt;
    color: #707070;
}

header {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 200px;
}

footer {
    background-color: white;
    text-align: center;
    height: 30px;
}

/* Classes */

.bluebar {
    background: #3D6185;
    opacity: 80%;

    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    width: 100%;
    height: 48px;
}

.pictogramContainer {
    position: absolute;

    display: flex;
    bottom: 10%;
    right: 5%;
    gap: 16px;
}

.logoNavContainer {
    justify-content: start;

    max-width: 1664px;
    width: 100%;

    margin: 16px;
    padding: 4px;
}


.nav {

.logo {
    grid-column: 2;
    position: absolute;
    left: 5%;
}

.navContainer {

    grid-column: 2;

    display: flex;
    flex-direction: row;

    position: absolute;
    top: 50%;
    right: 5%;
    gap: 32px;
}

.navContainer a {
    text-decoration: none;
    font-size: 20pt;
    color: #707070;
}

.pageHeadline {
    height: 64px;
}

.pageHeadline h1{
    color: #707070;
    text-align: center;

    font-family: "Segoe UI Semibold";

    margin-top: 32px;
}

/* Events */

.columnGrid {
    display: flex;
    grid-template-columns: 5% auto 5%;
    justify-content: center;
}

.eventList {
    display: flex;
    flex-wrap: wrap;

    grid-column: 2;
    grid-template-columns: 512px 512px 512px;
    gap: 32px;
}

.eventContainer {
    height: 320px;
    width: 512px;

    display: grid;
    grid-template-columns: 50% 50%;

    margin: 16px;

    background-color: #FAFAFA;
}

.eventDate-location {
    margin-top: -18px;
    font-size: 10pt;

    color: #707070;
    opacity: 50%;
}

.eventTextContainer {
    grid-column: 1;
    padding: 8px;
}

.eventText {
    color: #707070;
}

.eventImageLinkContainer {
    position: relative;
    grid-column: 2;
    margin: 0;

    height: 100%;
    width: 100%;
}

.eventImageLinkContainer a {
    font-family: "Segoe UI Semibold";
    text-decoration: none;
    color: #63809D;

    position: absolute;
    bottom: 32px;
    right: 8px;

    cursor: pointer;
}

.eventImageLinkContainer a:hover {
    color: #4D647A;
}

.eventImage {
    float: right;

    margin: 0;
    padding: 0;
    height: 160px;
    width: 240px;

    border-radius: 0 0 0 3rem;
}

.eventButtons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;

    max-width: 1664px;
    width: 100%;
    height: 64px;

    grid-column: 2;
}

.eventCreate {
    background-color: #63809D;
    border-color: transparent;
    border-radius: 0 0.75rem 0 0.75rem;

    padding: 8px 16px;
    margin-bottom: 16px;

    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    color: white;

    cursor: pointer;
}

.eventCreate:hover {
    background-color: #4D647A;
}

/* Slideshow */

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    max-height: 600px;
    float: left;

}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.spotlightContainer {
    background: #63B350;
    text-align: center;

    width: 100%;
    height: 72px;
}

    height: 30px;
}
.navContainer a:hover{
    font-family:"Segoe UI Semibold";
}
.pictogramContainer:hover .image{
    opacity: 0.3;
}
input{
    border-radius: 5px;
    width: 25%;
}

textarea{
    resize: none;

}

button{
    background-color: yellow;
    border-radius: 5px;
}