/* General Override */
* {
    font-family: "Segoe UI";
}

header{
    background-color: white;
}

.bluebar {
    margin: auto;
    position: absolute;
    align-self: flex-start;
}

.headerContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    width: 100%;
}
.nav{
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
.nav a{
    float: right;
    font-size: larger;
}

.events {
    margin-top: 32px;

    display: grid;
    grid-template-columns: 8% auto 8%;
    justify-content: center;
}

.eventParentContainer {
    display: grid;
    grid-column: 2;
    grid-template-columns: 536px 536px 536px;
    gap: 16px;

    justify-content: start;
}

.eventContainer {
    height: 320px;
    width: 536px;

    display: grid;
    grid-template-columns: 50% 50%;

    margin: 16px;
    margin-top: -16px;

    background-color: aliceblue;
}

.eventTextContainer {
    padding: 8px;
}
.eventHeadline h2 {
    margin-bottom: 16px;

    font-family: "Segoe UI Semibold";
    font-size: 16pt;
    color: #707070;

}
.eventDate-location {
    margin-top: -20px;
    font-size: 10pt;
}
/* Slideshow */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32);
}

#slider {
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    float: left;
}

#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;

}

@keyframes slider {
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%
    }
    45%{
        left: -100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.dots{
    display:flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:solid #fff 3px;
    cursor:pointer;
    transition: 0.15s ease;
    margin: 5px;
}

footer{
    background: rgb(109, 181, 0);
    text-align: center;
    height: 30px;
}